@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>the title of the page is @ViewData["Title"]</p>

<a href="https://google.ca" target="_blank">what colour am I ?</a>
