@page
@model IndexModel
@section Styles{
    <link rel="stylesheet" href="~/css/myStyles2.css" />
}
@{
    ViewData["Title"] = "My Personal Web Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    @* Author: Utkarsh Himanshu Patel
        Date: 2021-07-24

        Filename: Hobbies.cshtml *@
        
    <meta charset="utf-8"/>
    </head>
    <body>
       <header>
           <h1 id="Top">UTKARSH PATEL</h1>
           
           <nav>
                  <ul>
                      <li class="first">Links</li>
                  <li class="second"><a href="https://localhost:5001/">HOME</a></li>
                   <li class="third" ><a href="https://localhost:5001/Hobbies">HOBBIES</a></li>
                 </ul>
                
                   
              
          </nav>
        </header>
          
        
          <article>
              
                  <h2>My Hobbies</h2>
                <ul>
                    <li class="pg2">I like to play Cricket, Football and Volleyball.</li>     
                    <li class="pg2">I like to play games on gadgets as well.</li>
                    <li class="pg2">I love painting because it gives me a deep sense of happiness.</li>
                    <li class="pg2">I also like to spend my morning time performing yoga activities.</li>
                </ul>
                    
                  
                
                   
                
           </article>
           <footer>
               <p class="foot">Copyright &#169; 2021 &#8211; &nbsp; Utkarsh Patel &nbsp; Student ID: 0785541</p>
                
               
           </footer>
       
    </body>
</html>
       