@page
@model IndexModel
@section Styles{
    <link rel="stylesheet" href="~/css/myStyles.css" />
    
}
@{
    ViewData["Title"] = "My Personal Web Page";
}

 

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>  
</div> *@

<!DOCTYPE html> 
<html lang="en">
<head>
  
      @* Author: Utkarsh Himanshu Patel
      Date: 2021-07-24

      Filename: index.cshtml *@

    <meta charset="utf-8"/>


    </head>
    <body>
       <header>
           
           <h1>UTKARSH PATEL</h1>
           <img src="~/css/IMG/MyImage.jpg" alt="My Image" >
            <nav>
        <ul>
            <li>Links</li>
            <li><a href="https://localhost:5001/">HOME</a></li>
            <li><a href="https://localhost:5001/Hobbies">HOBBIES</a></li>
        </ul>
  </nav>
           
           </header>    
              
          
        
           <article>
             
              <h2 class="hd">About Myself</h2>
              
                 <p class="para">Hello, I am <strong>Utkarsh Patel</strong>, I live in Visnagar city, located in Gujarat state in India, which is a small town but I like it because of its offering too much than my expectation. Furthermore, I have one brother named <em>Zeel Patel</em>, who is so helpful to me in all ways whenever I am in need, I never forget to admire him and I wish I take some inspiration from him and be a gentleman just like him.</p>
        

                <h2 class="hd">Why I choose this program</h2>
        
                  <p class="para">I intend to study Internet Applications &amp; Web Development. As the curriculum is quite specialized, I believe it will equip me to learn software development as well as website developer. Moreover, this program does provide me the perfect first steps to becoming a successful Website developer as well as a Internet site developer or Internet site designer. Following are the key skills that I believe I would be able to learn through this program: Create websites using modern, in-demand languages &amp; technologies, Develop high-quality responsive web sites, Gain valuable experience in designing User Experiences (UX-UI) and also learn to build agile projects and properly designed databases.</p>
         
                
             
              <p class="pgtp"><a href="#Top">Return to Top</a></p>
                 
               
               
            </article>
            
           <footer>
               <p class="foot">Copyright &#169; 2021 &#8211;&nbsp; Utkarsh Patel &nbsp; Student ID: 0785541</p>
                 
               
           </footer>
            
    </body>
</html>
